<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>注册成为会员</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" async="" src="~/Scripts/analytics.js"></script>
    <script src="~/Scripts/hm.js"></script>
    <script src="~/Scripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <!--[if lt IE 9]>
    <script src="~/Scripts/html5fix.js" type="text/javascript" charset="utf-8" ></script>
    <![endif]-->

    <script async="" src="~/Scripts/5901b85c22974318805bb86a04acd206.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111270368-1');
    </script>
    <link rel="stylesheet" href="~/Content/theme.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/public.css">
    <link rel="stylesheet" href="~/Content/header.css">
    <link rel="stylesheet" href="~/Content/common_180905.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/validate-extends.js"></script>
    <script src="~/Scripts/message.js"></script>
    <style type="text/css">
        header.fila-header {
            visibility: hidden;
        }
    </style>
</head>
<body>

    <header class="fila-header">
        <div class="logo">
            <a href="/">
                <img src="~/Images/fila_blue_150.png" alt="">
            </a>
        </div>
        <div class="fila-navbar">
            <div class="navbar-search">
                <input id="key" class="text" type="text" autocomplete="off" value="卫衣">
                <button class="button" data-action="/list/?" onclick="location=$(this).attr('data-action')+'&keyword='+$('#key').val(); return false;">搜索</button>
            </div>
            <ul class="navbar-list">

                <li class="navbar-login">
                    <a href="/passport-login.html" target="_blank" title="登入">登入</a>
                </li>
                <li class="navbar-register">
                    <a href="/passport-signup.html" target="_blank" title="注册">注册</a>
                </li>
                <li class="navbar-user hidden">
                    <a href="/my-orders.html" target="_blank">
                        您好，
                        <span></span>
                    </a>
                </li>
                <li class="navbar-logout hidden">
                    <a href="/passport-logout.html" title="退出">退出</a>
                </li>
                <li class="navbar-cart dropdown">
                    <a class="dropdown-toggle" href="/cart.html" target="_blank">
                        <i class="icon icon-cart"></i>
                        <span class="cart-count hidden" id="cart-count"></span>
                    </a>
                    <ul class="dropdown-menu mini-cart" style="display:none;"></ul>
                </li>
                <li class="navbar-country">
                    <a href="/regionSelector.html" target="_blank">
                        <i class="icon icon-country"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container main-container main">
        <div class="passport-signup-container">
            <div class="panel panel-default signup-panel">
                <div class="panel-heading clearfix">
                    <span>欢迎加入</span>
                    <a href="/"><img src="~/Images/login-logo.png" alt=""></a>
                    <!-- <a href="/"><img src="~/Images/login-logo.png" alt=""></a> -->
                </div>
                <div class="panel-body">
                    <form id="member_signup_form" class="form-horizontal" action="~/User/Register" method="post">
                        <!-- 登陆后跳转地址 -->
                        <input type="hidden" name="forward" value="">
                        <div class="form-group">
                            <div class="col-md-5">
                                <input type="text" autocomplete='off' name="Username" class="form-control" id="input_login_name" placeholder="用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">

                                <input type="text" name="Nickname" class="form-control" id="input_nick_confirm" placeholder="昵称">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <input type="password" name="Password" class="form-control" id="input_login_password" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">

                                <input type="password" name="ConfirmPassword" class="form-control" id="input_psw_confirm" placeholder="确认密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <input type="text" name="VCode" class="form-control" id="vcode" placeholder="图形验证码">
                                <img src="~/User/VerifyCode" alt="验证码" onclick="$(this).prop('src',$(this).attr('data-src')+'?'+new Date().getTime())" data-src="../User/VerifyCode" class="posa imgcode"     style="right: 15px;top: 10px;" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input onclick="return false;" type="checkbox" checked name="" value="1">同意
                                    </label>
                                    <a href="javascript:;" data-toggle="modal" data-target="#myModal">《会员注册条款》</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-5">
                                <button type="submit" data-loading-text="正在提交..." class="btn btn-warning">立即注册</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-5">
                                <a class="text-center" href="/passport-login.html">已有账号？立即登录</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">会员注册条款</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            第1条 网站会员使用条款

                            请在注册FILA官方商城网站（以下统称为“本网站”）会员前仔细阅读本会员注册条款。您同意注册本网站会员即表明您已经阅读、理解并同意受本会员注册条款和其他适用法律约束。
                            本网站有权在任何时间不经通知地修改该会员注册条款，并于公布在网站之时起即刻生效，并适用于网站所有的会员。
                            您对本网站会员的继续使用应被理解为您对经修订的本会员注册条款的接受。
                            如果您不同意这些会员注册条款，请拒绝注册成为本网站会员或终止/注销网站会员。
                        </p><br><p>
                            第2条 购买条约
                            2.1 购买订单
                            本网站展示的信息是对一定范围商品的展示。在本网站下单购买商品表示您同意接受本会员注册条款以及网站的产品销售条件。订单完成前提需您已提交的所需信息，且您已确认接受本会员注册条款，并提交确认订单、支付相应货款且网站安排订单配送。在订单安排配送前的任何时候，您可以更改订单及与订单有关的信息或取消订单。
                            2.2 购买订单的确认
                            所有通过本网站提交的订单均需经本网站确认收到您的付款并安排配送后，才构成FILA对该订单的承诺和接受。
                            请您注意，如果订购的一种或多种货品在您提交订单后经本网站确认缺货或存在其他无法配送的情况，我们将无法接受并履行您的订单。我们会尽快通知您所订购的货品是否有货。如果您已经付款而该订单未被接受，则本网站会将您已支付的款项通过原付款方式退回，具体流程请联系本网站客服。如您未付款，则您可以选择取消该订单。
                            2.3订单取消：
                            您同意，本网站在下列情况下，可以取消您的订单，通过原付款方式退回您支付的相关货款（如适用），并无须提供补偿：
                            （1）经本网站和您协商达成一致的；
                            （2）您的订单信息明显错误的；
                            （3）因不可抗力、传输迟延、本网站系统发生故障或遭受第三方攻击，及其他本网站无法控制的情形，根据本网站确认需要取消您的订单的；
                            （4）您未能在提交订单后24小时内内完成支付的；
                            （5）经本网站确认，您使用机器人、外挂软件或其他技术手段侵入本网站进行购买，影响其他用户正常消费行为或相关合法权益、影响本网站正常销售秩序的行为；同时，对前述行为，本网站保留采取一切必要法律措施保护自身合法权益的权利；
                            （6）以代购销售为目的进行购买的（具体详见第10条约定）；
                            （7）假借他人账户或身份进行购买；
                            （8）经本网站确认，属于规避本网站公布的特别版产品销售规则的行为（例如，一人购买多个同一型号的特别版产品；多人使用同一张银行卡或者第三方支付账户支付货款的；多张订单发货到同一地址等）；
                            （9）其他违反本会员注册条款、本网站其他相关规则、政策、或网页活动规则中限制、禁止的行为或不符合公平原则或诚实信用原则的情形（如您多次无理由拒收订购商品， 恶意占用库存等）。
                        </p><br><p>
                            第3条 配送和配送收费
                            当您就订购的商品完成付款后，且本网站确认可接受该订单后将为您安排商品发货。订购商品将会配送至您在订单中指定的送货地址。
                            商品配送采用快递方式，具体配送要求及资费标准请您浏览商城服务的物流配送说明或者咨询在线客服了解。
                        </p><br><p>
                            第4条 货款支付
                            本网站标示的所有商品价格均以人民币为单位，并已包含相应有效的增值税，但不包含配送费用。
                            您可以在多种支付方式中选择：
                            （1）网上银行付款；
                            （2）支付宝付款；
                            （3）微信支付。
                            我们保留限制使用上述支付方式、只允许使用其中一种或多种方式的权利。
                            如果商城没有收到付款，我们不对任何订单延迟处理、不予配送或取消订单承担任何责任。
                            请您注意，您与信用卡发卡机构或其他机构之间订立的协议有可能会导致发生额外的电子转账、持有账户等方面的费用。
                        </p><br><p>
                            第5条 所有权保留
                            在您全额支付订单款项之前，商品的所有权仍然归属于本网站。
                        </p><br><p>
                            第6条 退货
                            您可以在收到商品之后的7天内，退回在本网站商城购买的所有货品。具体要求及操作详见本网站的退换货政策。退换货政策构成本会员注册条款不可分割的一部分。
                        </p><br><p>
                            第7条 隐私
                            未经合法会员授权时，本网站不会公开、编辑或透露该合法会员注册资料及保存在本网站中的非公开内容。
                        </p><br><p>
                            第8条 适用法律与争议解决
                            本会员注册条款适用中华人民共和国法律。
                            因本会员注册条款引起的或与本会员注册条款有关的任何争议或纠纷应在可能的范围内，由商城与您通过诚信协商予以解决。协商不成的，双方同意接受本条款签订地（福建省晋江市）有管辖权的人民法院的管辖。
                            如有索赔，请联系我们交予处理。
                        </p><br><p>
                            第9条 知识产权
                            本网站定义的网络服务内容包括：文字、软件、声音、图片、录像、图片中的全部内容；电子邮件的全部内容；本网站为会员提供的其它信息。所有这些内容受中华人民共和国法律的保护。所以，会员只能在本网站及相关所有者授权下才能使用这些内容，否则不得擅自复制、再造或以任何形式使用上述网络服务内容或创造与该内容有关的派生产品。本网站所有的文章版权归原文作者和本网站共同所有，任何人需要转载本网站的文章，必须征得原文作者或本网站的有效授权。
                        </p><br><p>
                            第10条 禁止代购销售
                            本网站着眼于向终端消费者提供所需的FILA商品，因此不允许代购销售。代购是指出于商业目的，您的主要或者重要的业务通过购买本网站的商品并将其转售给终端消费者的行为。如果本网站发现您有代购销售行为，将不再允许您的账户在本网站购买商品，并有可能永久地关闭您在本网站的该账户。
                        </p><br><p>
                            第11条 赔偿
                            您同意赔偿、辩护使本网站及其关联公司、管理人员、董事、雇员、 代理人、许可人以及供应商免受任何指控、损失、责任、费用、损害，包括但不限于由于您的账户生成的内容或对内容的使用、您关于本网站或本网站其他用户的行为、或违反本会员注册条款及相关法律法规或侵犯第三方权利所引起的或与之相关的损失。
                        </p><br><p>
                            第12条 免责声明
                            除非法律另有明确规定，我们不对任何间接损失承担任何责任，无论是因侵权、违反合同或其他原因造成的。
                            由于本网站具有开放性以及数字信息存储和传输可能出现错误，我们并不保证传输至本网站或从本网站获取的信息的准确性和安全性，但本网站另有明确说明的除外。
                            在本网站上发表的所有商品描述、信息和资料均是“按现状”提供的，并未就之作出任何保证，无论是明示的、默示的还是以其他任何方式产生的。
                            本条中的任何内容并不影响您作为消费者享有的法定权利。
                        </p><br><p>
                            第13条 可分割性
                            如果本会员注册条款的某一条款无效，不影响其他条款继续有效。
                        </p><br><p>
                            第14条 终止账户
                            本网站保留不经通知，以任何理由或无理由单方终止您账户、删除您用户个人资料以及其用户生成内容以及限制您使用本网站的全部或部分的权利，并且不对您或任何人承担责任。本网站同样保留阻止用户从特定的IP地址或者设备登陆本网站的权利。您理解并同意即使您的用户生成内容被删除或您的账户被终止，您的一些用户生成内容（例如您存储于个人资料之外的、位于活动信息的、在本网站其他部分的）或在其他平台上的（例如，微博、微信等等）用户生成内容，可能会继续出现在本网站或其他平台上。您的账户被终止后，本会员注册条款仍然有效。涉及知识产权、赔偿、免责声明、可分割性条款、争议解决以及其他按其性质可继续适用的条款将于本会员注册条款终止后继续适用。
                        </p><br><p>
                            第15条 最终解释权
                            本网站拥有并保留本会员注册条款的最终解释权。
                        </p><br>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <script>
    /*
    * 会员注册脚本
    */

    void function(signup_form){
        function check_input(){
            var input_login_name = $.trim($('#input_login_name').val());
            var input_login_password = $.trim($('#input_login_password').val());
            var input_psw_confirm = $.trim($('#input_psw_confirm').val());
            var img_vcode = $.trim($('#img_vcode').val());
            var input_vcode = $.trim($('#input_vcode').val());
            var usernameRegExp = /^[a-zA-Z0-9]{6,}$/;
            //验证用户名
            if (input_login_name == '' || !usernameRegExp.test(input_login_name)) {
                $('#input_login_name').focus().siblings('.error').remove().end().after('<div class="error error-normal">用户名至少为6位</div>');
                $('.imgcode').click();
                //组织表单提交
                return false;
            }else{
                $('#input_login_name').siblings('.error').remove() ;
            }
            //验证密码：
            if(input_login_password==''){
                $('#input_login_password').focus().siblings('.error').remove().end().after('<div class="error error-normal">请输入密码！</div>');
                $('.imgcode').click();
                return false;
            }else{
                $('#input_login_password').siblings('.error').remove() ;
            }
            //验证密码是否小于6位
            if(input_login_password.length<6){
                $('#input_login_password').focus().siblings('.error').remove().end().after('<div class="error error-normal">密码长度不能小于6位！</div>');
                $('.imgcode').click();
                return false;
            }else{
                $('#input_login_password').siblings('.error').remove() ;
            }
            //验证确认密码是否为空
            if(input_psw_confirm==''){
                $('#input_psw_confirm').focus().siblings('.error').remove().end().after('<div class="error error-normal">请再次输入密码！</div>');
                $('.imgcode').click();
                return false;
            }else{
                $('#input_psw_confirm').siblings('.error').remove() ;
            }

            //验证确认秘密和密码是否相同
            if(input_psw_confirm!=input_login_password){
                $('#input_psw_confirm').focus().siblings('.error').remove().end().after('<div class="error error-normal">确认密码不一致！</div>');
                $('.imgcode').click();
                return false;
            }else{
                $('#input_psw_confirm').siblings('.error').remove() ;
            }
        }

        //注册表单表单提交时
        signup_form.on('submit',function(e){
           e.stopPropagation();         //阻止事件冒泡
            check_input();                  //调用验证表单的函数
            signup_form.find('button[type=submit]').button('loading');
            $.post('/User/AjaxRegister', signup_form.serialize(), function (re) {
                //re是ajax响应的数据

                console.log(re);

                if(re.Result==1){
                   //错误
                    if(re.ErrorMessage=='验证码错误'){
                        $('#vcode').focus().siblings('.error').remove().end().after('<div class="error">图形验证码不正确!</div>');
                      $('.imgcode').click();
                    }else{
                        $('#vcode').siblings('.error').remove();
                    }
                    if (re.ErrorMessage == '用户名已被使用') {
                      $('#input_login_name').focus().siblings('.error').remove().end().after('<div class="error">该用户名已经被注册</div>');
                      $('.imgcode').click();
                    }else{
                          $('#input_login_name').siblings('.error').remove() ;
                    }
                }
                //正确
                if(re.Result==0){
                   $('#input_vcode').siblings('.error').remove() ;
                    //location.href = re.redirect;

                    //用户名没有重复，并且验证码正确

                    //提交表单，写入数据库
                   if (check_input() != false)
                   {
                       $.post('/User/Register', signup_form.serialize(), function () {
                           window.location = '/User/Login';
                       });
                   }
                }
                signup_form.find('button[type=submit]').button('reset');
            },'json');
            return false;
        });

        
     signup_form.find('.mobile-vcode button').on('click',function(e){
          check_input();
          if($(document).find('.error-normal').length>0){
            return false;
          }else{
            var btn = $(this),
                    new_password= $.trim($('#input_login_password').val()),
                    new_password1= $.trim($('#input_psw_confirm').val()),
                    account= $.trim($('#input_login_name').val()),
                     mobile = /^1[3|4|5|7|8|6|9]\d{9}$/;
            if(btn.hasClass('disabled'))return;
            if(account==''||!mobile.test(account)){
                 $('#input_login_name').focus().siblings('.error').remove().end().after('<div class="error">请输入正确的手机号码！</div>');
                 $('.imgcode').click();
                return false;
            }else{
                $('#input_login_name').siblings('.error').remove() ;
            }
            $.post('/passport-send_vcode_sms.html',{mobile:$('#input_login_name').val(),img_vcode:$("#img_vcode").val()},function(re){
                if(re && re.error){
                    btn.removeClass('disabled');
                    if(re.error=="图形验证码不正确"){
                        $('#vcode').focus().siblings('.error').remove().end().after('<div class="error">请输入正确的验证码！</div>');
                     $('.imgcode').click();
                     return false;
                    }
                    if(re.error=="该手机号已被注册，请更换一个"){
                        $('#vcode').siblings('.error').remove();
                       $('#input_login_name').focus().siblings('.error').remove().end().after('<div class="error">该手机已经被注册!</div>');
                      $('.imgcode').click();
                       return false;
                    }
                  }
                if(re && re.success){
                  btn.addClass('disabled');
                  $('#vcode').siblings('.error').remove();
                   
                    _cutdown_sms(btn);
                }
            },'json');
          };

        });
    }($('#member_signup_form'));
        </script>
    </div>

    <footer class="fila-footer clearfix">
        <div class="ft-left fl">
            <ul class="link-list">
                <li>
                    <a href="/n-20.html" target="_blank">购物服务</a>
                </li>
                <li>
                    <a href="/history.html" target="_blank">关于品牌</a>
                </li>
                <li>
                    <a href="/shop.html" target="_blank">查找门店</a>
                </li>
            </ul>
            <div class="ft-follow">
                <span>关注FILA的官方媒体:</span>
                <a class="ft-sina" href="http://weibo.com/fila2010?refer_flag=1001030101_" target="_blank"></a>
                <a class="ft-weixin">
                    <div class="ft-weixin-tip">
                        <img src="~/Images/weixin0525.jpg">
                    </div>
                </a>
            </div>
            <div class="ft-service">
                <span>售后服务电话: 400-886-7699</span>
            </div>
        </div>
        <div class="ft-right fr">
            <span>&copy;FILA体育&nbsp;闽ICP备11020421号-8</span>
        </div>
    </footer>
    <div class="fixed-toolbar">
        <a class="fixed-service" onclick="xiaoneng_isExitsFunction();" href="javascript:;">客服</a>
    </div>
    <script src="~/Scripts/header_180905.js"></script>
    <script charset="utf-8">
/*购物数量 事件拦截开始*/

$(function(){
    var change_event_timer = 0;
    var _change_quantity = function(ipt,num){
        ipt = $(ipt),last_val = parseInt(ipt.val());
        var set_v = last_val+num;
        ipt.val(set_v);
        if(isNaN(ipt.val()) || ipt.val()<1){
            ipt.val('1');
        }
        if(ipt.attr('data-max') && set_v>parseInt(ipt.attr('data-max'))){
            ipt.val(ipt.attr('data-max'));
        }
        if(ipt.attr('data-min') && set_v<parseInt(ipt.attr('data-min'))){
            ipt.val(ipt.attr('data-min'));
        }
        if(set_v === parseInt($(ipt).attr('data-now')))return;

        //限购商品限制数量加减
        if($('.order-max').length>0){
            var max_buy = new Number($('.notice-restrict .order-max').text());
            if(set_v >= max_buy){
                ipt.attr('data-now',max_buy);
                ipt.val(max_buy);
            }
        }
        if($('.order-max').length==0&&$('.member-max').length>0){
            var max_buy = new Number($('.notice-restrict .member-max').text());
            if(set_v >= max_buy){
                ipt.attr('data-now',max_buy);
                ipt.val(max_buy);
            }
        }

        //预约商品限制数量加减
        if(!$('.reserve-quantity').hasClass('hide')){
            var $el = $('#J_sale_buy_num');
            var max_sale = $el.data('max-sale');
            if(set_v >= max_sale ){
                ipt.attr('data-now',max_sale);
                ipt.val(max_sale);
            }
        }

        $(ipt).attr('data-now',set_v);
        ipt.trigger('_change',[ipt.val(),num]);
    }

    $(document).on('click','.product-quantity .spinner-buttons',function(e){
        var btn = $(this);
        btn.find('button').eq(0).blur();
        if(btn.data('animating'))return;
        if(btn.next('.spinner-input').length){
            _change_quantity(btn.next('.spinner-input'),-1);
        }
        if(btn.prev('.spinner-input').length){
            _change_quantity(btn.prev('.spinner-input'),+1);
        }
        btn.data('animating',true);
        btn.css('opacity',.2);
        btn.animate({opacity:1},'slow',function(){
            $(this).removeData('animating');
        });


    });
    $(document).on('keyup','.product-quantity .spinner-input',function(e){
        switch (e.keyCode) {
            case 38:
                _change_quantity(this,+1);
                break;
            case 40:
                _change_quantity(this,-1);
                break;
            default:
                _change_quantity(this,0);
        }
    });
});

/*购物数量 事件拦截结束*/
    </script>
    <div style="display:none" data-rel="Baidu Analytics">
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8e1f31faa8383ed7a42a8e58efe4a621";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
        </script>
    </div>
</body>
</html>
